<%- partial('_partial/bg-cover') %>
</style>
<main class="content">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="note info">
                    操作介绍：<br>
                    开始游戏：首先点击屏幕 <br>
                    跳跃：注意是“点击屏幕” ！<br>
                    道具：跳跃后捡到的道具，使用下方对应26字母键盘键<br>
                    支持手机，电脑，等设备玩耍，点击屏幕开始和跳跃。
                </div>
                <hr>
                <iframe width="100%" height="488px" src="https://dinoswords.gg/"  frameborder="no" border="0"  scrolling="no" marginwidth="0" marginheight="0" ></iframe>

                <!-- <iframe width="100%" height="200px" src="https://api.dlizi.com:555/dinogame/index.html"  frameborder="no" border="0"  scrolling="no" marginwidth="0" marginheight="0" ></iframe> -->
            </div>
        </div>    
    </div>
</main>