<%- partial('_partial/bg-cover') %>
<style>
    .about-cover {
        height: 100vh;
    }
    .bg-cover {
        background-image: url("/medias/banner/xsp.jpg")!important;
        margin-bottom: 25px;
    }
    .bg-cover::before {
        background-image: url(/medias/banner/grid.png);
    }
    .musis > div {
        margin-bottom: 60px;
    }
    
    .aplayer {
        border-radius: 8px!important;
    }
    .comment-scroll {
        bottom: 93px;
    }
    .v[data-class=v] .vcards {
        display: none;
    }
    .musis div p {
        font-family: 'Architects Daughter', cursive;
        font-size: 18px;
    }
    
    .musictitle {
        font-family: 'Architects Daughter', cursive;
        font-size: 20px;
        margin-bottom: 0px!important;
        padding-top: 24px;
    }
    body.dark .musictitle, body.dark .tipsbili {
        color: rgba(255, 255, 255, 0.6);
    }
    .tipsbili, .tipsbili code {
        font-size: 0.2rem;
        padding: 4px 10px;
    }
    
    /* 修改小屏幕下logo文字样式. */
    @media only screen and (max-width: 600px) {
        .about-cover {
            height: 64vh;
        }   
        .container .row {
            margin-top: 50px;
        }
        .biye {
            padding: 0 8px 8px 8px!important;
            width: 96%;
            height: 96%;
        }
        .musis > div {
            margin-bottom: 45px;
        }
        
    }
    .biye {
        padding: 0 24px 24px 24px;
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
    .biye iframe {
        border-radius: 8px;
    }
</style>
<main class="content">
    <div class="container">
        <div class="card musis">
        <div class="musictitle center-align">
            本页不定期更新<br>
        </div>
        <hr>

        <!-- 视频模块 -->
        <div class="biye">
            <p>仙剑奇侠传-莫失莫忘 好听哭了</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="//player.bilibili.com/player.html?aid=929882282&bvid=BV1RK4y127rB&cid=317888282&page=1&high_quality=1" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <!-- 视频模块 -->
        <div class="biye">
            <p>没有人可以让我回头，唯有铠甲勇士</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="//player.bilibili.com/player.html?aid=415502163&bvid=BV16V41187CS&cid=264102761&page=1&high_quality=1" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
                        
        <!-- 视频模块 -->
        <div class="biye">
            <p>无论村子拥有怎样的黑暗与矛盾，我都是木叶村的宇智波鼬</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="//player.bilibili.com/player.html?aid=755742664&bvid=BV1nr4y1F7b3&cid=267000587&page=1&high_quality=1" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- 视频模块 -->
        <div class="biye">
            <p>小鸟伏特加 新二ZBC</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="//player.bilibili.com/player.html?aid=413104200&bvid=BV1DV411d7kB&cid=189309840&page=1&high_quality=1" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <!-- 视频模块 -->
        <div class="biye">
            <p>抖音美女合集3</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="//player.bilibili.com/player.html?aid=927288825&bvid=BV1tT4y1c7Wr&cid=242893354&page=1&high_quality=1" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <!-- 视频模块 -->
        <div class="biye">
            <p>动漫壁纸</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="//player.bilibili.com/player.html?aid=415339719&bvid=BV1YV411a74j&cid=259034496&page=1&high_quality=1" //player.bilibili.com/player.html?aid=927288825&bvid=BV1tT4y1c7Wr&cid=242893354&page=1
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <!-- 视频模块 -->
        <div class="biye">
            <p>舞蹈</p>
           
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="https://www.acfun.cn/player/ac11357398" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <!-- 视频模块 -->
        <div class="biye">
            <p>抖音小视频合集2</p>
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="https://www.acfun.cn/player/ac15760878" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <!-- 视频模块 -->
        <div class="biye">
            <p>抖音小视频合集1</p>
            <div style="position: relative; padding: 30% 45%;">
                <iframe style="
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    left: 0; top: 0;" 
                    src="https://www.acfun.cn/player/ac12648595" 
                    scrolling="no" 
                    border="0" 
                    frameborder="no" 
                    framespacing="0" 
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>

        </div>
        <div class="card">
        </div>
    </div>
</main>

<script>
    $(function () {
        new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: 'false' === 'true',
            theme: '#42b983',
            loop: 'true' === 'true',
            lang: 'zh-CN' === 'zh-CN' ? 'zh-cn' : 'en',
            preload: 'auto',
            volume: Number('0.7'),
            video: {
                url: 'https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4',
                pic: '',
                thumbnails: ''
            }
        });
    });
</script>

<script type="text/javascript">
//只在桌面版网页启用特效
var windowWidth = $(window).width();
if (windowWidth > 768) {
    document.write('<scripts type="text/javascript" src="/js/Petal.js"><\/scripts>');
}
</script>