<aside id="rightside">
    <!-- 回到顶部按钮 -->
    <div id="backTop" class="top-scroll">
        <a class="btn-floating btn-large waves-effect waves-light" href="#">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
    <!-- 春节主题 按钮 -->
    <a onclick="switchThemes()" id="switchspring">
        <img class="chunjiepic" src="/medias/spring-img/caishen.png" title="节日模式">
    </a>
    <!-- 深色模式 按钮 -->
    <a onclick="switchNightMode()" id="sma">
        <i class="fa fa-moon-o" id="nightMode" aria-hidden="true"></i>
    </a>
</aside>